$color-background: #F7F8FC;

$color-title: #2A3753;
$color-auxiliar: #266adf;
$color-secundary: #938E8E;
$color-greenon: #3DD137;
$color-inactive: #A0A0A0;
$color-grey-dark: #676767;

$font-size: 15px;

$font-card-size: 18px;
$font-card-description-size: 14px;

$font-title-size: 20px;

$shadow: 0 6px 6px -2px #b3b3b3;

